.button_finalizar{
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    width: 20%;
    height: 80px;
    transition: .3s ease all;
    padding: 10px;
}
.add:hover, .less:hover, .button_finalizar:hover , .button_cancelar:hover, .Comprar:hover, .Detalle-button:hover{
    background: rgb(225, 8, 91);
    cursor: pointer;
}
.button_cancelar{
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 20%;
    height: 80px;
    transition: .3s ease all;
    padding: 10px;
    border-radius: 12px;
 
}

.Comprar, .Detalle-button{
    height:28px;
    width:60px;
    border-radius: 6px;
    
    
}

.add, .less{
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 12px;
    width: 20px ;
    height: 20px;
    transition: .3s ease all;
    
}




